header {
  background: url(../images/header2.png) center / cover;
  height: 75vh;
  justify-content: center;
  text-align: center;
  color: green;

}

h1 {
  color: hsla(328, 100%, 44%, .75);


}

body {
  padding-bottom: 5rem;
}


.slogan {
  color: hsla(328, 100%, 44%, .75);
  font-weight: lighter;
  font-size: 1.6rem;
}

main {
   max-width: 900px;
 }

 .project-description {
   padding-left: 0;
 }

 .project img {
   width: 100%;
 }

 footer.mdl-mini-footer {
   bottom: 0;
   padding: 0.5rem;

   position: fixed;
   width: 100%;
   z-index: 1;
 }


 footer.mdl-mini-footer > ul {
   margin: auto;
   font-size: 2rem;
 }


   position: fixed;
   width: 100%;
  z-index: 1;
 }

 footer.mdl-mini-footer > ul {
    margin: auto;
       font-size: 2rem;
  }


  @media screen and (max-width: 1024px) {
    header.mdl-layout__header {
      display: flex;


    }
  footer ul {
  width:100%}


    }

  }
